<h2>タイトル</h2>
<p><%=@book.title %></p>
<h2>本文</h2>
<p><%=@book.body %></p>

<%= link_to "編集", edit_book_path(@book.id) %>
<%= link_to "削除", book_path(@book), method: :delete %>

<% if flash[:notice] %>
  <div class="alert alert-primary" role="alert">
      <%= notice %>
  </div>
 <% end %>

 
 <%= link_to 'Back',books_path %>